# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Alex Popescu (@pspsalex)

# esphome:
#   on_boot:
#     - priority: -100
#       then:
#         - lvgl.widget.hide: boot_screen

# Show clock on top layer
# Show connection status
#   - WiFi w/ IP address
#   - HA

lvgl:
  top_layer:
    widgets:
      - obj:
          id: boot_screen
          x: 0
          y: 0
          width: 100%
          height: 100%
          styles:
            - page
          # bg_color: 0xffffff
          # bg_opa: COVER
          radius: 0
          pad_all: 0
          border_width: 0
          widgets:
            - label:
                id: boot_clock
                text: "00:00"
                text_font: roboto_80_num_bold
                # text_color: 0x000000
                align: ${boot_clock_align}
                x: ${boot_clock_x}
                y: ${boot_clock_y}
            - image:
                align: ${boot_logo_align}
                src: boot_logo
                x: ${boot_logo_x}
                y: ${boot_logo_y}
            - spinner:
                align: ${boot_spinner_align}
                x: ${boot_spinner_x}
                y: ${boot_spinner_y}
                height: ${boot_spinner_w}
                width: ${boot_spinner_h}
                spin_time: 5s
                arc_length: 60deg
                arc_width: 8
                indicator:
                  arc_color: 0x666666
                  arc_width: 8
            - label:
                id: boot_ip_info
                x: ${boot_ip_x}
                y: ${boot_ip_y}
                align: ${boot_ip_align}
                text: "Connecting..."
                text_font: ${boot_ip_font}
                # hidden: true
          on_press:
            - lvgl.widget.hide: boot_screen
