# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Alex Popescu <https://github.com/pspsalex>

wifi_ssid: "My WiFi SSID"
wifi_password: "my-wifi-password"
wifi_domain: ".local"

wifi_ap_password: "some-random-password"

# API encryption key. Auto-generate one on https://esphome.io/components/api.html
api_key: "add-key-here"

ota_password: "secret-ota-password"

latitude: 48.8584°
longitude: 2.2945°
