# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Alex Popescu (@pspsalex)

# Generic config for M5Dial devices

substitutions:
  display_image_type: RGB565
  display_byte_order: big_endian

esphome:
  name: "${device_name}"
  friendly_name: "${friendly_name}"
  platformio_options:
    board_build.flash_mode: dio
  # on_boot:
  #   - priority: -100
  #     then:
  #       - lvgl.image.update:
  #           id: img_status_battery
  #           src: ${theme_status_battery_plugged}
  #     then:
  #       - bm8563.read_time:


esp32:
  board: esp32-s3-devkitc-1
  variant: esp32s3
  flash_size: 8MB
  framework:
    type: esp-idf

i2c:
  - id: internal_i2c
    sda: GPIO11
    scl: GPIO12

  - id: porta_i2c
    sda: GPIO13
    scl: GPIO15

# WS1850S @Tag operating frequency: 13.56 MHz, ISO/IEC 14443 Type A/Type B protocol
rc522_i2c:
  - id: nfc_reader
    i2c_id: internal_i2c
    address: 0x28

output:
  - platform: ledc
    pin:
      number: GPIO3
      ignore_strapping_warning: true
    id: buzzer

  - platform: ledc
    pin: GPIO9
    id: backlight_pwm

rtttl:
  output: buzzer


# Resolution: 16 positions, 64 pulses/revolution
sensor:
  - platform: rotary_encoder
    id: encoder
    pin_a: GPIO40
    pin_b: GPIO41

  - platform: sht3xd
    id: env2
    temperature:
      name: "Temperature"
    humidity:
      name: "Humidity"
    update_interval: 10s
    i2c_id: porta_i2c

time:
  # RTC
  - platform: pcf8563
    id: rtctime
    i2c_id: internal_i2c
    address: 0x51
    update_interval: never

  - id: !extend local_time
    platform: homeassistant
    on_time_sync:
      then:
        - pcf8563.write_time:

binary_sensor:
  - platform: gpio
    name: Button
    id: front_button
    pin: GPIO42

  - platform: gpio
    name: Hold Button
    pin:
      number: GPIO46
      ignore_strapping_warning: true


spi:
  id: spi_bus
  mosi_pin: GPIO5
  clk_pin: GPIO6

# GC9A01, 240x240
display:
  - platform: ili9xxx
    id: round_display
    model: GC9A01A
    cs_pin: GPIO7
    reset_pin: GPIO8
    dc_pin: GPIO4
    invert_colors: false

# FT3267
touchscreen:
  - platform: ft5x06
    id: touchscreen_main
    i2c_id: internal_i2c
    address: 0x38
    # interrupt_pin: GPIO14  # not supported by this component

light:
  - platform: monochromatic
    name: "Backlight"
    output: backlight_pwm
    id: backlight
    default_transition_length: 0s
    restore_mode: ALWAYS_ON
