# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Alex Popescu (@pspsalex)

script:
  - id: hide_boot_screen
    then:
      - delay: 5s
      - lvgl.widget.hide: boot_screen

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_key

  on_client_connected:
    then:
      - logger.log: "Home Assistant client connected"
      - lvgl.image.update:
          id: img_status_ha
          src: ${theme_status_cloud_done}
      - lvgl.label.update:
          id: boot_ip_info
          text: "Home Assistant connected..."
      - script.execute: hide_boot_screen

  on_client_disconnected:
    then:
      - logger.log: "Home Assistant client disconnected"
      - lvgl.image.update:
          id: img_status_ha
          src: ${theme_status_cloud_off}
