# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Alex Popescu (@pspsalex)

# Weather integration with Home Assistant
# TODO: treat invalid inputs from HA (e.g. no data) gracefully
external_components:
  - source:
      type: local
      path: components
    components: [timegm_helper]

# Add the component to your configuration
timegm_helper:

globals:
  - id: data_updated
    type: bool
    restore_value: false
    initial_value: "false"

time:
  - id: !extend local_time
    on_time:
      - seconds: 0
        minutes: /1
        then:
          - if:
              condition:
                lambda: "return id(data_updated) == true;"
              then:
                - lambda: "id(data_updated) = false;"
                - logger.log: "Weather data updated"

binary_sensor:
  - platform: status
    id: api_connected

sensor:
  # Current weather temperature - show netatmo outdoor module temperature
  - platform: homeassistant
    entity_id: sensor.outdoor_module_temperature
    # entity_id: weather.home
    # attribute: temperature
    id: weather_temperature
    on_value:
      then:
        - lambda: |-
            id(data_updated) = true;
            std::string temp_text = str_sprintf("%d", (int)x);
            #if ${shadow_active}
              lv_label_set_text(main_left_weather_temp_now_shadow, temp_text.c_str());
            #endif
            lv_label_set_text(main_left_weather_temp_now, temp_text.c_str());

  - platform: homeassistant
    entity_id: sensor.apparent_temperature
    id: weather_feels_like
    on_value:
      then:
        - lambda: |-
            id(data_updated) = true;
            std::string feels_like_text = str_sprintf("Feels like: %d째C", (int)x);
            #if ${shadow_active}
              lv_label_set_text(main_left_weather_temp_feels_shadow, feels_like_text.c_str());
            #endif
            lv_label_set_text(main_left_weather_temp_feels, feels_like_text.c_str());

  - platform: homeassistant
    entity_id: sensor.precipitation_probability
    id: weather_precipitation_probability
    on_value:
      then:
        - lambda: |-
            id(data_updated) = true;
            std::string rain_text = str_sprintf("Rain: %d%%", (int)x);
            #if ${shadow_active}
              lv_label_set_text(main_left_weather_temp_rain_shadow, rain_text.c_str());
            #endif
            lv_label_set_text(main_left_weather_temp_rain, rain_text.c_str());

  - platform: homeassistant
    entity_id: weather.pirateweather
    attribute: wind_speed
    id: weather_wind_speed
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.label.update:
            id: main_left_weather_details_wind
            text: !lambda |-
              return (to_string((int)x) + "km/h").c_str();

  - platform: homeassistant
    entity_id: sensor.weather_forecast_precipitation_4h
    id: weather_forecast_precip_4h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"

  - platform: homeassistant
    entity_id: sensor.weather_forecast_precipitation_8h
    id: weather_forecast_precip_8h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"

  - platform: homeassistant
    entity_id: sensor.weather_forecast_precipitation_12h
    id: weather_forecast_precip_12h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"

  # 4-hour forecast
  - platform: homeassistant
    entity_id: sensor.weather_forecast_temperature_4h
    id: weather_forecast_temp_4h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.label.update:
            id: main_left_forecast_4h_temp
            text: !lambda |-
              return to_string((int)x) + "째C / " + to_string((int)id(weather_forecast_precip_4h).state) + "%";

  # 8-hour forecast
  - platform: homeassistant
    entity_id: sensor.weather_forecast_temperature_8h
    id: weather_forecast_temp_8h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.label.update:
            id: main_left_forecast_8h_temp
            text: !lambda |-
              return to_string((int)x) + "째C / " + to_string((int)id(weather_forecast_precip_8h).state) + "%";

  # 12-hour forecast
  - platform: homeassistant
    entity_id: sensor.weather_forecast_temperature_12h
    id: weather_forecast_temp_12h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.label.update:
            id: main_left_forecast_12h_temp
            text: !lambda |-
              return to_string((int)x) + "째C / " + to_string((int)id(weather_forecast_precip_12h).state) + "%";

text_sensor:
  - platform: homeassistant
    entity_id: sensor.weather_forecast_temperature_4h
    attribute: tstamp
    id: forecast_time_4h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.label.update:
            id: main_left_forecast_4h_time
            text: !lambda |-
              return esphome::timegm_helper::parse_time(x, "%H:%M", id(local_time));

  - platform: homeassistant
    entity_id: sensor.weather_forecast_temperature_8h
    attribute: tstamp
    id: forecast_time_8h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.label.update:
            id: main_left_forecast_8h_time
            text: !lambda |-
              return esphome::timegm_helper::parse_time(x, "%H:%M", id(local_time));

  - platform: homeassistant
    entity_id: sensor.weather_forecast_temperature_12h
    attribute: tstamp
    id: forecast_time_12h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.label.update:
            id: main_left_forecast_12h_time
            text: !lambda |-
              return esphome::timegm_helper::parse_time(x, "%H:%M", id(local_time));

  # Current weather condition
  - platform: homeassistant
    entity_id: weather.pirateweather
    id: weather_condition
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.image.update:
            id: main_left_weather_logo_now
            src: !lambda |-
              if (x == "clear-night") {           return id(${theme_icon_weather_night}); }
              else if (x == "cloudy") {           return id(${theme_icon_weather_cloudy}); }
              else if (x == "fog") {              return id(${theme_icon_weather_fog}); }
              else if (x == "hail") {             return id(${theme_icon_weather_hail}); }
              else if (x == "lightning") {        return id(${theme_icon_weather_lightning}); }
              else if (x == "lightning-rainy") {  return id(${theme_icon_weather_lightning_rainy}); }
              else if (x == "partlycloudy") {     return id(${theme_icon_weather_partlycloudy}); }
              else if (x == "pouring") {          return id(${theme_icon_weather_pouring}); }
              else if (x == "rainy") {            return id(${theme_icon_weather_rainy}); }
              else if (x == "snowy") {            return id(${theme_icon_weather_snowy}); }
              else if (x == "snowy-rainy") {      return id(${theme_icon_weather_snowy_rainy}); }
              else if (x == "sunny") {            return id(${theme_icon_weather_sunny}); }
              else if (x == "windy") {            return id(${theme_icon_weather_windy}); }
              else if (x == "windy-variant") {    return id(${theme_icon_weather_windy_variant}); }
              else if (x == "exceptional") {      return id(${theme_icon_weather_exceptional}); }
              else {                              return id(${theme_icon_weather_unknown}); }

  # Sunrise time
  - platform: homeassistant
    entity_id: sun.sun
    attribute: next_rising
    id: weather_sunrise
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.label.update:
            id: main_left_weather_details_sunrise
            text: !lambda |-
              return esphome::timegm_helper::parse_time(x, "%H:%M", id(local_time));

  # Sunset time
  - platform: homeassistant
    entity_id: sun.sun
    attribute: next_setting
    id: weather_sunset
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.label.update:
            id: main_left_weather_details_sunset
            text: !lambda |-
              return esphome::timegm_helper::parse_time(x, "%H:%M", id(local_time));

  # Forecast conditions - 4h
  - platform: homeassistant
    entity_id: sensor.weather_forecast_condition_4h
    id: weather_forecast_condition_4h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.image.update:
            id: main_left_forecast_4h_icon
            src: !lambda |-
              if (x == "clear-night") {           return id(${theme_icon_forecast_night}); }
              else if (x == "cloudy") {           return id(${theme_icon_forecast_cloudy}); }
              else if (x == "fog") {              return id(${theme_icon_forecast_fog}); }
              else if (x == "hail") {             return id(${theme_icon_forecast_hail}); }
              else if (x == "lightning") {        return id(${theme_icon_forecast_lightning}); }
              else if (x == "lightning-rainy") {  return id(${theme_icon_forecast_lightning_rainy}); }
              else if (x == "partlycloudy") {     return id(${theme_icon_forecast_partlycloudy}); }
              else if (x == "pouring") {          return id(${theme_icon_forecast_pouring}); }
              else if (x == "rainy") {            return id(${theme_icon_forecast_rainy}); }
              else if (x == "snowy") {            return id(${theme_icon_forecast_snowy}); }
              else if (x == "snowy-rainy") {      return id(${theme_icon_forecast_snowy_rainy}); }
              else if (x == "sunny") {            return id(${theme_icon_forecast_sunny}); }
              else if (x == "windy") {            return id(${theme_icon_forecast_windy}); }
              else if (x == "windy-variant") {    return id(${theme_icon_forecast_windy_variant}); }
              else if (x == "exceptional") {      return id(${theme_icon_forecast_exceptional}); }
              else {                              return id(${theme_icon_forecast_unknown}); }

  # Forecast conditions - 8h
  - platform: homeassistant
    entity_id: sensor.weather_forecast_condition_8h
    id: weather_forecast_condition_8h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.image.update:
            id: main_left_forecast_8h_icon
            src: !lambda |-
              if (x == "clear-night") {           return id(${theme_icon_forecast_night}); }
              else if (x == "cloudy") {           return id(${theme_icon_forecast_cloudy}); }
              else if (x == "fog") {              return id(${theme_icon_forecast_fog}); }
              else if (x == "hail") {             return id(${theme_icon_forecast_hail}); }
              else if (x == "lightning") {        return id(${theme_icon_forecast_lightning}); }
              else if (x == "lightning-rainy") {  return id(${theme_icon_forecast_lightning_rainy}); }
              else if (x == "partlycloudy") {     return id(${theme_icon_forecast_partlycloudy}); }
              else if (x == "pouring") {          return id(${theme_icon_forecast_pouring}); }
              else if (x == "rainy") {            return id(${theme_icon_forecast_rainy}); }
              else if (x == "snowy") {            return id(${theme_icon_forecast_snowy}); }
              else if (x == "snowy-rainy") {      return id(${theme_icon_forecast_snowy_rainy}); }
              else if (x == "sunny") {            return id(${theme_icon_forecast_sunny}); }
              else if (x == "windy") {            return id(${theme_icon_forecast_windy}); }
              else if (x == "windy-variant") {    return id(${theme_icon_forecast_windy_variant}); }
              else if (x == "exceptional") {      return id(${theme_icon_forecast_exceptional}); }
              else {                              return id(${theme_icon_forecast_unknown}); }

  # Forecast conditions - 12h
  - platform: homeassistant
    entity_id: sensor.weather_forecast_condition_12h
    id: weather_forecast_condition_12h
    on_value:
      then:
        - lambda: "id(data_updated) = true;"
        - lvgl.image.update:
            id: main_left_forecast_12h_icon
            src: !lambda |-
              if (x == "clear-night") {           return id(${theme_icon_forecast_night}); }
              else if (x == "cloudy") {           return id(${theme_icon_forecast_cloudy}); }
              else if (x == "fog") {              return id(${theme_icon_forecast_fog}); }
              else if (x == "hail") {             return id(${theme_icon_forecast_hail}); }
              else if (x == "lightning") {        return id(${theme_icon_forecast_lightning}); }
              else if (x == "lightning-rainy") {  return id(${theme_icon_forecast_lightning_rainy}); }
              else if (x == "partlycloudy") {     return id(${theme_icon_forecast_partlycloudy}); }
              else if (x == "pouring") {          return id(${theme_icon_forecast_pouring}); }
              else if (x == "rainy") {            return id(${theme_icon_forecast_rainy}); }
              else if (x == "snowy") {            return id(${theme_icon_forecast_snowy}); }
              else if (x == "snowy-rainy") {      return id(${theme_icon_forecast_snowy_rainy}); }
              else if (x == "sunny") {            return id(${theme_icon_forecast_sunny}); }
              else if (x == "windy") {            return id(${theme_icon_forecast_windy}); }
              else if (x == "windy-variant") {    return id(${theme_icon_forecast_windy_variant}); }
              else if (x == "exceptional") {      return id(${theme_icon_forecast_exceptional}); }
              else {                              return id(${theme_icon_forecast_unknown}); }
