# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Alex Popescu (@pspsalex)

id: main_right_${name}_light
styles: main_controls
layout:
  type: FLEX
  flex_flow: ROW_WRAP
  flex_align_main: SPACE_BETWEEN
  flex_align_cross: CENTER
  flex_align_track: SPACE_BETWEEN
widgets:
  - button:
      id: main_controls_${name}_light
      state:
        disabled: true
      width: 130
      height: 85
      checkable: true
      styles:
        - main_controls_button
      pressed:
        styles:
          - main_controls_button_pressed
      focused:
        styles:
          - main_controls_button_focused
      checked:
        styles:
          - main_controls_button
        # border_width: 2
        # radius: 10
      widgets:
        - image:
            id: main_controls_${name}_light_state
            src: image_lightbulb_off_medium
            align: center
      on_click:
        - homeassistant.action:
            action: ${ha_action}
            data:
              entity_id: ${ha_entity}
  - label:
      text: "${label}"
      styles: main_controls_label
      long_mode: DOT
