# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Alex Popescu (@pspsalex)

id: control_${name}
styles:
  - clean_obj
width: 100%
height: 50
bg_color: ${lvgl_color_bg_accent}
bg_opa: COVER
pad_top: 5
pad_bottom: 5
pad_left: 7
pad_right: 7
radius: 5
widgets:
  - obj:
      x: 0
      y: 0
      align: LEFT_MID
      styles:
        - clean_obj
      width: 145
      height: SIZE_CONTENT
      layout:
        type: FLEX
        flex_flow: ROW_WRAP
        flex_align_main: START
        flex_align_cross: START
        pad_row: 0
        pad_column: 0
      widgets:
        - label:
            text: "${label}"
            text_color: 0xFFFFFF
            text_font: roboto_16
            width: 145
        - label:
            text: "Draw: "
            text_color: ${lvgl_color_fg_secondary}
            text_font: roboto_14
        - label:
            text: "--W"
            text_color: ${lvgl_color_bg_checked}
            text_font: roboto_14
            id: control_switch_${name}_power

  - button:
      x: 0
      y: 0
      styles:
        - clean_obj
      align: RIGHT_MID
      checkable: true
      id: control_switch_${name}
      bg_color: ${lvgl_color_bg_unchecked}
      bg_opa: COVER
      checked:
        bg_color: ${lvgl_color_bg_checked}
      click_focusable: false
      width: 70
      height: 36
      radius: 5
      state:
        checked: false
      on_click:
        then:
          - homeassistant.action:
              action: switch.toggle
              data:
                entity_id: switch.${ha_entity}
      widgets:
        - label:
            id: control_switch_${name}_label
            align: CENTER
            text_font: roboto_14
            text: "OFF"
            text_color: 0xffffff
