# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Alex Popescu (@pspsalex)

id: main_right_${name}_ro
styles: main_controls
layout:
  type: FLEX
  flex_flow: ROW_WRAP
  flex_align_main: SPACE_BETWEEN
  flex_align_cross: CENTER
  flex_align_track: SPACE_BETWEEN
widgets:
  - button:
      id: main_controls_${name}_down
      state:
        disabled: true
      width: 55
      height: 85
      styles:
        - main_controls_button
      pressed:
        styles:
          - main_controls_button_pressed
      focused:
        styles:
          - main_controls_button_focused
      widgets:
        - image:
            id: main_controls_${name}_down_label
            src: !lambda |-
              if (id(cover_${name}_state).state == "closing") {
                return id(image_stop_medium);
              }
              return id(image_vert_align_bottom_medium);
            align: center
      on_press:
        then:
          - if:
              condition:
                lambda: |-
                  return id(cover_${name}_state).state == "closing";
              then:
                - logger.log: "Stopping ${label} cover"
                - homeassistant.action:
                    action: cover.stop_cover
                    data:
                      entity_id: cover.${ha_entity}
              else:
                - logger.log: "Opening ${label} cover"
                - homeassistant.action:
                    action: cover.close_cover
                    data:
                      entity_id: cover.${ha_entity}
  - slider:
      id: main_controls_${name}_slider
      outline_width: 1
      outline_color: black
      outline_opa: COVER
      state:
        disabled: true
      width: 5
      x: 5
      height: 77
      on_change:
        then:
          - lambda: ESP_LOGD("cover", "Setting cover ${label} to %d", int(x));
          - homeassistant.action:
              action: cover.set_cover_position
              data:
                entity_id: cover.${ha_entity}
                position: !lambda "return int(x);"
  - button:
      id: main_controls_${name}_up
      state:
        disabled: true
      width: 55
      height: 85
      styles:
        - main_controls_button
      pressed:
        styles:
          - main_controls_button_pressed
      focused:
        styles:
          - main_controls_button_focused
      widgets:
        - image:
            id: main_controls_${name}_up_label
            src: !lambda |-
              if (id(cover_${name}_state).state == "opening") {
                return id(image_stop_medium);
              }
              return id(image_vert_align_top_medium);
            align: center
      on_press:
        then:
          - if:
              condition:
                lambda: |-
                  return id(cover_${name}_state).state == "opening";
              then:
                - logger.log: "Stopping ${label} cover"
                - homeassistant.action:
                    action: cover.stop_cover
                    data:
                      entity_id: cover.${ha_entity}
              else:
                - logger.log: "Opening ${label} cover"
                - homeassistant.action:
                    action: cover.open_cover
                    data:
                      entity_id: cover.${ha_entity}
  - label:
      text: "${label}"
      styles: main_controls_label
      long_mode: DOT
