# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Alex Popescu (@pspsalex)

text_sensor:
  - platform: homeassistant
    id: cover_${name}_state
    entity_id: cover.${ha_entity}
    on_value:
      then:
        - lambda: |-
            if (x == "opening") {
              lv_img_set_src(id(main_controls_${name}_up_label), id(image_stop_medium));
            } else if ((x == "open") or (x == "closed")) {
              lv_img_set_src(id(main_controls_${name}_up_label), id(image_vert_align_top_medium));
              lv_img_set_src(id(main_controls_${name}_down_label), id(image_vert_align_bottom_medium));
            } else if (x == "closing") {
              lv_img_set_src(id(main_controls_${name}_down_label), id(image_stop_medium));
            }

sensor:
  - platform: homeassistant
    id: cover_${name}_position
    entity_id: cover.${ha_entity}
    attribute: current_position
    on_value:
      - lambda: |-
          #if ( ${theme_rollers_as_image} )
            lv_obj_set_y(main_controls_${name}_slider_image, -max(min(int(x), 100), 0));
          #else
            lv_slider_set_value(main_controls_${name}_slider, max(min(int(x), 100), 0), LV_ANIM_OFF);
          #endif
      - if:
          condition:
            lambda: |-
              return x == 100;
          then:
            - lvgl.widget.disable: main_controls_${name}_up
          else:
            - lvgl.widget.enable: main_controls_${name}_up
      - if:
          condition:
            lambda: |-
              return x == 0;
          then:
            - lvgl.widget.disable: main_controls_${name}_down
          else:
            - lvgl.widget.enable: main_controls_${name}_down
